{% extends "base.html" %}
{% load static %}

{% block title %} Vacancy Search {% endblock %}


{% block hero %}
	<div class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">Let's Find Your</span> Vacancy <span class="typed-words"></span></h1>
						<div class="row">
							<div class="col-10">
								<form class="form">
									<div class="row mb-2">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-8">
											<input type="text" class="form-control" placeholder="Введите название вакансии">
										</div>
									</div>
									<div class="row align-items-center">
										<div class="col-lg-4">
											<a>Точный поиск: </a>
										</div>
										<div class="col-lg-3">
											<label class="control control--checkbox mt-3">
												<span class="caption">Да</span>
												<input type="checkbox" checked="checked" />
												<div class="control__indicator"></div>
											</label>
										</div>
										<div class="col-lg-3">
											<label class="control control--checkbox mt-3">
												<span class="caption">Нет</span>
												<input type="checkbox" />
												<div class="control__indicator"></div>
											</label>
										</div>
									</div>    
									<div class="row align-items-center">
										<div class="col-lg-4">
											<a>Регион поиска: </a>
										</div>
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<select name="" id="" class="form-control custom-select">
												<option value="">Destination</option>
												<option value="">Peru</option>
												<option value="">Japan</option>
												<option value="">Thailand</option>
												<option value="">Brazil</option>
												<option value="">United States</option>
												<option value="">Israel</option>
												<option value="">China</option>
												<option value="">Russia</option>
											</select>
										</div>
									</div>    
									<div class="row align-items-center">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<input type="submit" class="btn btn-primary btn-block" value="Search" href="{% url 'hh_search:result' %}">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="slides">
						<img src="{% static 'images/hero-slider-1.jpg' %}" alt="Image" class="img-fluid active">
						<img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-3.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-4.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-5.jpg' %}" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	
{% block js %}
	<script>
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["Python.", "Java.", "Django.", "ML.", "Data."],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 3000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})
	</script>
{% endblock %}
